<div class="center"></div>
<div class="container h-100 content">
  <div class="row h-100 justify-content-center align-items-center ">
    <div class="col-12">
      <div class="text-center">
        <div>
          <h1
            style="font-family: 'Bodega', cursive;font-size:7vw;margin:0.01vw "
          >
            Events
          </h1>
        </div>
        <div
          class="smallDivider"
          style='display: inline-block; height: 50px; width: 200px; background-image: url("https://d3t14gfu9ehll4.cloudfront.net/themes/1d2d6c2d-5d63-4e65-ad73-15fa9661902d/root_SmallDivider.png"); background-size: contain; background-position: center center; background-repeat: no-repeat;'
        ></div>
        <div>
          <h4 style="font-family: '';margin:0.01vw;font-size:4vw ">
            Tuesday ,10th December 2019
          </h4>
        </div>
      </div>
      <br>

      <div class="row ">
        <div class="col">
          <div>
            <h4
              style="font-family: 'Merienda', cursive;
                      ;margin:0.01vw;font-size:3vw "
            >
              Ring Ceremony
            </h4>
          </div>
          <br />
          <div>
            <h4
              style="font-family: 'Merienda', cursive;
                        ;margin:0.01vw;font-size:3vw "
            >
              Sangeet
            </h4>
          </div>
          <br />

          <div>
            <h4
              style="font-family: 'Merienda', cursive;
                            ;margin:0.01vw;font-size:3vw "
            >
              Dinner
            </h4>
          </div></div>

          <div class="col">
              <div>
                  <h4
                    style="font-family: 'Merienda', cursive;
                            ;margin:0.01vw;font-size:3vw "
                  >
                    3:30 pm
                  </h4>
                </div>
                <br />
                <div>
                  <h4
                    style="font-family: 'Merienda', cursive;
                              ;margin:0.01vw;font-size:3vw "
                  >6:00 pm Onwards
                  </h4>
                </div>
                <br />
                <div>
                  <h4
                    style="font-family: 'Merienda', cursive;
                                ;margin:0.01vw;font-size:3vw "
                  >
                    7:30 pm Onwards
                  </h4>
                </div>

          </div>
      </div>
      <br>

      <div class="text-center">
          <h4 style="font-family: '';margin:0.01vw;font-size:4vw ">
              Wednesday ,11th December 2019
            </h4>

      </div>
      <br>
      <div class="row ">
        <div class="col">
            <div>
                <h4
                  style="font-family: 'Merienda', cursive;
                          ;margin:0.01vw;font-size:3vw "
                >
                  Ganesh Poojan
                </h4>
              </div>
              <br />
              <div>
                <h4
                  style="font-family: 'Merienda', cursive;
                            ;margin:0.01vw;font-size:3vw "
                >
                  Breakfast
                </h4>
              </div>
              <br />

              <div>
                <h4
                  style="font-family: 'Merienda', cursive;
                                ;margin:0.01vw;font-size:3vw "
                >
                  Haldi
                </h4>
              </div><br>
              <div>
                  <h4
                    style="font-family: 'Merienda', cursive;
                                  ;margin:0.01vw;font-size:3vw "
                  >
                    Mandap & Lunch
                  </h4>
                </div><br>
                <div>
                    <h4
                      style="font-family: 'Merienda', cursive;
                                    ;margin:0.01vw;font-size:3vw "
                    >
                      Barat
                    </h4>
                  </div><br>

                <div>
                    <h4
                      style="font-family: 'Merienda', cursive;
                                    ;margin:0.01vw;font-size:3vw "
                    >
                      Wedding Ceremony
                    </h4>
                  </div><br>
                  <div>
                      <h4
                        style="font-family: 'Merienda', cursive;
                                      ;margin:0.01vw;font-size:3vw "
                      >
                        Reception & Dinner
                      </h4>
                    </div>


        </div>
        <div class="col">
            <div>
                <h4
                  style="font-family: 'Merienda', cursive;
                          ;margin:0.01vw;font-size:3vw "
                >
                  8:30 am
                </h4>
              </div>
              <br />
              <div>
                <h4
                  style="font-family: 'Merienda', cursive;
                            ;margin:0.01vw;font-size:3vw "
                >9:00 am Onwards
                </h4>
              </div>
              <br />
              <div>
                <h4
                  style="font-family: 'Merienda', cursive;
                              ;margin:0.01vw;font-size:3vw "
                >
                  10:30 am
                </h4>
              </div><br>
              <div>
                  <h4
                    style="font-family: 'Merienda', cursive;
                                ;margin:0.01vw;font-size:3vw "
                  >
                    11:30 am
                  </h4>
                </div><br>
                <div>
                    <h4
                      style="font-family: 'Merienda', cursive;
                                  ;margin:0.01vw;font-size:3vw "
                    >
                     4:00 pm
                    </h4>
                  </div><br>
                <div>
                    <h4
                      style="font-family: 'Merienda', cursive;
                                  ;margin:0.01vw;font-size:3vw "
                    >
                     5:45 pm
                    </h4>
                  </div><br>
                  <div>
                      <h4
                        style="font-family: 'Merienda', cursive;
                                    ;margin:0.01vw;font-size:3vw "
                      >
                       7:00 pm Onwards
                      </h4>
                    </div>

        </div>
      </div><br>
      <div class="text-center">
          <h4 style="font-family: 'Merienda', cursive;margin:0.01vw;font-size:4vw ">
              Venue(Reception)
            </h4><br>
            <p>
              Sajan Prabha Garden<br>
              Vijay nagar Square ,A.B. Road Indore (M.P.)
            </p>


      </div>

          <div class="">
            <img src="../../assets/events2.png" width="350px" />
          </div>
        </div>
      </div>
    </div>


