.center{
margin:auto;
}
agm-map {
  height: 400px;
  width:400px;
}


.content {
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  background: linear-gradient(130deg, #07d9a3, #048fee);
  background-size: 400% 400%;
  -webkit-animation: gradient 16s ease infinite;
  animation: gradient 16s ease infinite;
}
