

    <div class="container">
      <img class="images" src="../../assets/weddingcard.jpg" style="width:100%" >
      <div class="text">
      <br>
         We request the honour of your presence to grace the<br>
        auspicious occasion of the marriage ceremony of
        <br>
        Chi Flt.Lt.<b style="font-size:200%;">Vijay</b>  <br>(Grand S/o Late Mr. Madhukar & Mrs. Nalini Kelkar)<br>
        (Son of Dr. Jaswinder Kelkar & Dr.Mukund Kelkar)


          <br>With<br>
          Sau Flt.Lt.<b style="font-size:200%;">Divya</b><br>
          (Grand D/o of Late Mrs. Sushila Devi Nalwade & Late Mr. Shankar Rao)<br>
          (D/o Mrs. Nayna & Mr. Hemant Nalwade)<br>
         <br>


          We seek your blessings and good wishes<br>
           on this auspicious occasion


</div>
  </div>
