

.jumbotron {
    padding: 0;
     position: relative;
}

.background{
  background-color:white;
}
.navbar{
  background-color: white;

}
.color{

}

.overlay {
  position: absolute;
  bottom: 0;


  background: rgba(0, 0, 0, 0.1); /* Black see-through */
  color: #f1f1f1;
  width: 100%;

  color:black;
  padding: 2vw;
  text-align: center;
}




