<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron jumbotron-fluid">
  <img src="assets/images/istockphoto-940833316-612x612.jpg" style="width:100%" class="img-rounded" alt="Cinque Terre">
  <div class="overlay">
    <p style="font-size:3vw;font-family: 'Times New Roman', Times, serif;margin:0.02vw">KINDLY JOIN US AT <br></p>

    <p style="font-family: 'Alex Brush', cursive;font-size:7vw;margin:0.01vw">the
    <p style="font-family: 'Bodega', cursive;font-size:11vw;margin:0.01vw ">Wedding<br>
      <p style="font-family: 'Alex Brush', cursive;font-size:7vw;margin:0.01vw ">of

   <p style="font-family: 'Times New Roman', Times, serif;font-size:5vw;" >
  Vijay & Divya <br>
  <p style="font-family: 'Times New Roman', Times, serif;font-size:3vw;" >
   WEDNESDAY,DECEMBER 11,2019<br>

</p></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light sticky-top ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>MENU
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
          <li class="nav-item">
              <a class="nav-link active" [routerLink]="'/Home'" >HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/Events'"  >EVENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/Hosts'" >WEDDING HOSTS</a>
              </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/RSPV'">RSVP</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/Contacts'">PHOTOS</a>
                </li>
      </ul>
    </div>
  </nav>




<router-outlet></router-outlet>
